<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Welcome ' + ${user.getUsername()} + '!'"></title>
</head>
<body>
<h2 th:text="'Welcome to your profile, ' + ${user.getUsername()} + '!'"></h2>
<a th:href="@{/}">Service Selection</a>

<div>
    <th:block>
        <ul th:each="name : ${users}">
            <li><a th:href="@{/user/detail}" th:text="${name.getUserName()}"></a>blah</li>
        </ul>
    </th:block>
</div>
</body>
</html>